<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="mt-4"> <img src="assets/images/users/user.png" class="rounded-circle" width="150" />
                    <h4 class="card-title mt-2 tampil_username"></h4>
                    <h6 class="card-subtitle tampil_telepon"></h6>
                    <button class="btn btn-info"><i class="fa fa-flag"></i> <span id="level-lokasi"></span></button>
                </center>
            </div>
            <div class="card-body"> 
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div id="alert"></div>
                <div class="card-body">
                    <form class="form-horizontal form-material" id="form-data">
                        <div class="form-group">
                            <label class="col-md-12">Username</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control form-control-line" name="username" id="username" readonly required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">No. Telepon</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control form-control-line" name="telepon" id="telepon" required>
                            </div>
                        </div>
                        <input type="hidden" name="idx" id="idx">
                        <input type="hidden" name="user_akun" id="user_akun">
                        <input type="hidden" name="user_level" id="user_level">
                        <input type="hidden" name="batas_update" id="batas_update" value="true">
                        <div class="form-group">
                            <label class="col-md-12">Password</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control form-control-line" name="password" id="password">
                                 <small class="form-text text-muted">Kosongkan jika tidak akan diubah</small>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Update Data Akun</button>
                            </div>
                        </div>
                    </form>
                </div>
           
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->

<script type="text/javascript">
	$('#username').val(dataSession.username);
	$('#telepon').val(dataSession.telepon);
	$('#idx').val(dataSession.id_user);
    $('input[name=user_akun]').val(dataSession.akun);
    $('input[name=user_level]').val(dataSession.level);

    $('.tampil_username').html(dataSession.username);
    $('.tampil_telepon').html(dataSession.telepon);
    var posisix;
    if (dataLokasi.data.kelurahan.tb_deskel_level == 1) {
        posisix = 'Kelurahan ';
    }
    else{
        posisix = 'Desa '
    }
    $('#level-lokasi').html(posisix+dataLokasi.data.kelurahan.tb_deskel_nama);

    $("#form-data").submit(function(e){   
      e.preventDefault();
      var form = $(this);
      var url = config.apiRoot+link+'updateUser';
      var data = form.serializeArray();
      data.push({name: 'session',  value:getCookie('codexv-session')});
      $.when(sendAjax(url, data)).done(function(a1){
        $('#alert').html('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button><i class="fa fa-check"></i> Perubahan tersimpan. Silahkan login kembali</div>');
        setTimeout(function() {
            logout();
        }, 2000);
      });
    });
</script>